@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('./assets/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

:root {
  --CtextoPrincipal: #FFFFFF;
  --CtextoSecundario: #D3D3D3;
  --FtextoPrincipal: 'Roboto';
  --FtextoEncabezado: 'Orbitron';
  --CfondoPrincipal: #000000;
  --Cacento1: #1E90FF;
  --Cacento2: #39FF14;
  --fondo-p: url('./assets/fotos/fondo.png');
}

